

.page-section-jon{
  text-align: center;
  
}

.page-name-jon{
  padding-top: 1em;
  padding-left: 0.5em;
}


#tabel-jon{
  border: 2.5px solid #ddd;
  margin: 2% 5% 5% 5%;
  padding: 1.5%;
}

.page-header-jon{
    margin-top:10px;
    padding: 3rem 4rem;
    color: #fff;
    text-align: center;
    z-index: -1000;
    background-image: linear-gradient(150deg, white, grey);  
    /*background-image: linear-gradient(120deg, #155799, #159957); background-color: #159957; */
    height: 25em;
}

@media screen and (max-width: 1240px) and (min-width: 42em){
.page-header-jon {
    padding: 3rem 4rem;
   }
}
#body-section{
    margin-left: 23%;
    margin-top: 10%;
}
#leftMenu{
 width:10%;
}

#leftMenu > .panel > table > tr  {
  font-size: 24px;
}

@media screen and (max-width: 1204px){

}

@media screen and (max-width: 42em){

}

.panel{
  border-radius: 0px;
}
.panel-info{
  border-color: white;
}
.panel-heading{
  background-color: white;
}
.panel-info>.panel-heading{
  color: white;
  background-color: #159957;
}

.panel-body{
  color: black;
}

.modal-header > .modal-title, .modal-body {
  color: black;
}

.panel-body > table {
  font-size:1.70rem;
}

tr > td > .fa{
  font-size:2rem;
}

